.HeaderNav {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #083D4B;
}

.HeaderNav_itemsContainer {
  height: 10vh;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
  .HeaderNav_navItems {
    text-decoration: none;
    color: white;
  }
  .HeaderNav_navItems:hover {
    text-decoration: underline;
    color: white;
  }