/* Wraps the component on every component where it is displayed on the left side */
.QueriesSelector_div {
  width: 25rem;
  display: flex;
  padding-top: 9rem;
}

.QueriesSelector {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.QueriesSelector_headerAndDropdown {
  margin-bottom: 3rem;
}
